bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
.vs/MochaStorefront/FileContentIndex/085850ef-70f2-4a55-821a-49d05869c614.vsidx
.vs/MochaStorefront/FileContentIndex/4e6c22f0-f83b-4bb1-b71c-643a2b52aec2.vsidx
.vs/MochaStorefront/FileContentIndex/6706a12e-4854-4258-97fd-77d33d879b7d.vsidx
.vs/MochaStorefront/FileContentIndex/913f2ec9-5fee-417d-9c03-b97437f6a761.vsidx
.vs/MochaStorefront/FileContentIndex/b6735253-dfd7-4262-909f-301ad99d566c.vsidx
.vs/MochaStorefront/v18/.suo
.vs/MochaStorefront/v18/DocumentLayout.backup.json
.vs/MochaStorefront/v18/DocumentLayout.json
